* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

body div#imagem_home {
  background-size: cover;
  background-image: url(img/luzexterna.png);
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgba(242, 242, 242, 0.1);
  padding: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

header #bloco_logo {
  width: 30%;
  height: 100%;
}

header img {
  height: 44px;
}

header #bloco_menu {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

header #bloco_menu ul {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header #bloco_menu ul li {
  list-style: none;
}

header #bloco_menu ul li a {
  color: rgb(0, 0, 0);
}

header #bloco_menu ul li a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

li a:hover {
  transform: scaleX(1.5);
}

header div#botao_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%;
}

header #botao_header .botao_menu {
  color: white;
  padding: 10px 25px;
  background-color:#0764ee;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

header #botao_header .botao_menu:hover {
  background-color: #0f3d83;
  transform: scale(1.05);
  color: white;
}

div #main_principal {
  background-color: blue;
}

div section #titulo1 {
  width: 100%;
  height: 600px;
  font-size: 48px;
  text-align: center;
  padding-top: 250px;
  color: white;
  background-image: url(img/luzexterna.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

div section #titulo1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 1;
}

div section #titulo1 {
  z-index: 2;
}

main {
  width: 100%;
  background-color: black;
  padding: 40px;
}

main #bloco_texto_main {
  color: white;
  max-width: 1120px;
  width: 800px;
  margin: auto;
  text-align: center;
}

main #bloco_texto_main span {
  color: #FFB300;
}

main #bloco_texto_main h1 {
  margin-top: 15px;
  font-size: 30px;
}

main #bloco_texto_main p {
  margin-top: 20px;
  color: #f2f2f26e;
}

body main #div_pai_principal {
  display: flex;
  
}

main #conteudo_produtos {
  color: #FFB300;
  font-size: 30px;
  height: 700px;
  width: 100%;
  border: solid red;
  justify-content: center;
  text-align: center;
}

main #conteudo_principal_produtos {
  color: #FFB300;
  border: solid red;
  width: 100%;
  height: 700px;
}

main div li ul {
  color: #FFB300;
}

#div_pai_principal #conteudo_principal_produtos #bloco_produtos div{
  border: solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 173px;
}

main #div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main #div_logo #conteiner_pai {
  width: 1120px;
  display: flex;
  margin: 50px;
  justify-content: space-between;
  align-items: center;
}

#div_logo #conteiner_pai #div_texto {
  width: 700px;
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main #div_logo h1 {
  color: white;
}

main #div_logo p {
  color: white;
}

main #div_logo button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0764ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

main #div_logo #blocos_logo {
  width: 43%;
}

main #div_logo #blocos_logo #logo_1 {
  display: flex;
  gap: 0;
  justify-content: space-between;
}

main #div_logo #blocos_logo #logo_2 {
  display: flex;
  gap: 0;
  justify-content: center;
}

main #div_logo #blocos_logo #logo_3 {
  display: flex;
  gap: 0;
  justify-content: space-between;
}

main #div_logo #blocos_logo img:hover {
  
}

main #div_logo #blocos_logo img {
  margin: 0;
  width: 150px;
  height: 150px;
}
