* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

body div#imagem_home {
  background-size: cover;
  background-image: url(img/luzexterna.png);
}

header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgba(242, 242, 242, 0.1);
  padding: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

header #bloco_logo {
  width: 30%;
  height: 100%;
}

header img {
  height: 44px;
  
}

header #bloco_menu {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
header #bloco_menu ul {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header #bloco_menu ul li {
  list-style: none;
}

header #bloco_menu ul li a {
  color: rgb(0, 0, 0);
}

header #bloco_menu ul li a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

li a:hover {
  transform: scaleX(1.5);
}

header div#botao_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%;

}

header #botao_header .botao_menu {
  color: white;
  padding: 10px 25px;
  background-color:#0764ee;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

header #botao_header .botao_menu:hover {
  background-color: #0f3d83;
  transform: scale(1.05);
  color: white;
}

div #main_principal {
  background-color: blue;
}
div section #titulo1 {
  width: 100%;
  height: 600px;
  font-size: 48px;
  text-align: center;
  padding-top: 250px;
  color: white;
  background-image: url(img/luzexterna.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

div section #titulo1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 1;
}

div section #titulo1 {
  z-index: 2;
}

main {
  width: 100vw;
  background-color: black;
  padding: 40px;
}

main #bloco_texto_main {
  background-color: aqua;
  max-width: 1120px;
  width: 100%;
  margin: auto;
  text-align: center;
  
}

main #bloco_texto_main span {
  font-family: Arial, Helvetica, sans-serif;
  
}