* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
  padding: 20px;
}

header #bloco_logo {
  width: 30%;
  height: 100%;
}

header img {
  height: 44px;
}

header #bloco_menu {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: black;
  border-radius: 10px;
}
header #bloco_menu ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header #bloco_menu ul li {
  list-style: none;
}

header #bloco_menu ul li a {
  color: white;
}

:active {
  color: orange;
}

header #botao_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%;
}
